:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background-color: #1c1c29;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: clip;
}

body {
  font-weight: bold;
  margin: 0;
  padding: 1.5rem;
}

p {
  font-size: 13px;
}

h1 {
  line-height: 1.1;
  margin: 0;
  font-size: 22px;
  width: 110px;
}

.subtitle {
  margin-top: 0;
  font-size: 12px;
  color: #4a4a4a;
  text-decoration-line: none;
}

#app {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#player {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
button,
a {
  cursor: pointer;
  border: none;
  background-color: #24242400;
  border-radius: 5px;
  padding: 0;
}
button:hover,
a:hover {
  background-color: #5e5e5e5b;
}
a {
  color: #fff;
}
button.spell:active > svg {
  fill: #bb99ff;
}
button.undo:active > svg > path {
  stroke: #bb99ff;
}
button:active > svg > g {
  stroke: #bb99ff;
}
#dmSettings:active > svg > path {
  fill: #bb99ff;
}
.reset {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
}

.tooltiptext {
  visibility: hidden;
  opacity: 0;
  background-color: #5b5b5d;
  text-align: center;
  position: absolute;
  z-index: -1;
  top: -30px;
  padding: 0.4em 0.8em 0.4em 0.8em;
  border-radius: 10px;
  transition: opacity 0.3s;
  font-weight: bold;
  font-size: 12px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

input {
  cursor: text;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 8px;
  border-style: none;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  color: #e2e2e2;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.movement {
  font-size: 13px;
  display: flex;
  align-items: center;
}

.movement > div {
  padding: 0 1.5px 0 2.5px;
}

hr.divider {
  border-top: 2px dotted #bbbbbb3b;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-top: 4px;
  margin-bottom: 4px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.spell {
  padding-top: 1.5%;
  margin-right: 1%;
  height: 20px;
  width: 20px;
}

.name {
  width: 73px;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1c1c29;
  -webkit-box-shadow: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bb99ffda;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #1c1c29;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bb99ff86;
}

#gmReset {
  width: 30px;
  height: 30px;
  padding-top: 2.5px;
}

#gmReset:active > svg > path {
  fill: #bb99ff;
}
